html, body, #container {
	color: #494949;
	font-family: sans-serif;
}
#container {
	width: 98%;
	margin: auto;
}

#header {
	text-align: center;
}

form {
	width: 70%;
	margin: 0 auto;
}

fieldset {
	border: 0;
}

.header-input, .header-button {
	width: 100%;
	text-align: right;
	display: inline-block;
	font-size: 13pt;
}

.header-input input, .header-button button{
	width: 70%;
	font-size: 13pt;
	border: 1px solid #A8AEB3;
}

#add-progress-item {
	background-color: #F0FFF0;
}

#im-wrapper, #usage-wrapper, #ex-wrapper {
	display: inline-block;
}

.progress-wrapper {
	width: 50%;
	float: left;
}

.progress-frame {
	width: 100%;
	border: 1px solid #eeeeee;
	padding:2px;
	margin: 2px;
	box-sizing: border-box;
}

.progress-item {
	background-color: #eeeeee;
	position: relative;
}

.progress-item:hover .progress-item-close {
	display: block;
}

.progress-item-close:hover {
	background-color: #494949;
	color: #eeeeee;
}

.progress-item-close {
	position: absolute;
	width: 1em;
	height: 1em;
	right: 0;
	top: 0;
	display: none;
	text-align: center;
	line-height: 1.1em;
}

.progress-bar {
	width: 0%;
    height: 5px;
    background-color: #494949;
}